@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@addTagHelper *, WebApp

<div class="container">
    <div class="card-columns">
        @foreach (var vehicle in Model.Vehicles)
        {
            @(await Component.InvokeAsync("VehicleSummary", vehicle));
        }
    </div>
</div>
